body{
  background-color: rgb(247, 164, 164);
}

.App {
  text-align: center;
}


#line-1{
  padding: 2rem;
  margin-top: 2.5%;
  color: red;
  background-color: blue;
  margin-bottom: 0rem;
}
#line-2{
  margin-bottom: 1rem;
  color: blue;
  background-color: red;

}



#box-1{
  margin-top: 0rem;
  margin-bottom: 1%;
  padding: 0.25rem;
  min-width: 25%;
  border-radius: 1rem;
  background-color: blue;
  color: white;
}

#box-2{
 
  margin-bottom: 1%;
  padding: 0.5rem;
  min-width: 25%;
  border-radius: 1rem;
  border-color: red;
  background-color: white;
  color: black;

}

#btn-1{
  border-radius: 2rem;
  background-color: red;
  color: white;
  padding: 0.5rem;
}